
################################################
## import name space
################################################

importFrom("graphics",
           "box",
           "abline",
           "axis",
           "plot",
           "polygon",
           "boxplot",
           "par",
           "text",
           "grid",
           "symbols",
           "matplot",
           "contour",
           "mtext",
           "barplot",
           "hist",
           "layout",
           "panel.smooth",
           "rug",
           "title",
           "persp",
           "plot.new",
           "plot.window",
           "rect",
           "locator")
importFrom("grDevices",
           "rgb",
           "cm.colors",
           "xy.coords",
           "colors",
           "col2rgb",
           "gray.colors",
           "heat.colors",
           "contourLines",
           "rainbow",
           "terrain.colors",
           "topo.colors")
importFrom("methods",
           "show",
           "new",
           "slotNames")
importFrom("stats",
           "acf",
           "pnorm",
           "residuals",
           "var",
           "ansari.test",
           "pchisq",
           "median",
           "qt",
           "approx",
           "density",
           "dnorm",
           "integrate",
           "sd",
           "spline",
           "dcauchy",
           "optimize",
           "qnorm",
           "nlminb",
           "qchisq",
           "cor.test",
           "ks.test",
           "complete.cases",
           "cor",
           "lsfit",
           "nlm",
           "pacf",
           "pcauchy",
           "qqline",
           "qqnorm",
           "ppoints",
           "qcauchy",
           "rnorm",
           "runif",
           "uniroot",
           "rexp",
           "rcauchy",
           "dt",
           "t.test",
           "pf",
           "qf")
importFrom("timeDate",
           "kurtosis",
           "skewness",
           "setRmetricsOptions",
           "getRmetricsOptions")
importFrom("timeSeries",
           "as.timeSeries",
           "is.timeSeries",
           "rev",
           "sort",
           "colnames<-",
           "rownames<-",
           "quantile",
           "lines",
           "isUnivariate",
           "points",
           "colCumsums",
           "print",
           "drawdowns",
           "diff",
           "returns",
           "na.omit",
           "str")
importFrom("utils",
           "menu")

################################################
## useDynLib
################################################

useDynLib("fBasics")

################################################
## S4 classes
################################################

exportClasses("fDISTFIT",
              "fHTEST" )
exportMethods("show" )

################################################
## S3 classes
################################################

S3method("stdev", "default")
S3method("termPlot", "default")
S3method("volatility", "default")

################################################
## functions
################################################

export( 
    #"dght",
    #"pght",
    #"qght",
    #"rght",
    #"ghtFit",
    "dsgh",
    "psgh",
    "qsgh",
    "rsgh",
    ".kappaGH",
    ".deltaKappaGH",
    ".paramGH",
    "dsnig",
    "psnig",
    "qsnig",
    "rsnig",
    ".pnigC",
    ".qnigC",
    ".qsnigC",
    ".CArrange",            
    "sghFit",
    "snigFit",       # DW added
    "acfPlot",
    ".acfPlot",
    "adTest",
    "akimaInterp",
    "akimaInterpp",
    ".ansari2Test",
    ".ansariTest",
    ".asRGB",
    ".bartlett2Test",
    "basicStats",
    ".blue2greenPalette",
    ".blue2redPalette",
    ".blue2yellowPalette",
    "box_",
    "Boxcar",
    "boxL",
    "boxPercentilePlot",
    "boxPlot",
    ".ccfPlot",
    "characterTable",
    ".chcode",
    ".circlesPlot",
    "cmPalette",
    ".cnvrt.coords",
    "colIds",
    "colIds<-",
    "colorLocator",
    "colorMatrix",
    "colorTable",
    "colVec",
    ".contourPlot",
    "copyright",
    "correlationTest",
    "countFunctions",
    "cumulatedPlot",
    "cvmTest",
    ".cyan2magentaPalette",
    "dagoTest",
    "decor",
    ".dec.to.hex",
    "Delta",
    "densityPlot",
    "dgh",
    "dhyp",
    ".dhyp1",
    ".dhyp2",
    ".dhyp3",
    ".dhyp4",
    "distCheck",
    ".distCheck",
    "divPalette",
    "dmaxdd",
    "dnig",
    "drawdownPlot",
    "dstable",
    ".emptyPlot",
    ".fct1",
    ".FCT1",
    ".fct2",
    ".FCT2",
    ".firePlot",
    ".fligner2Test",
    "focusPalette",
    ".g1",
    ".G1",
    ".g2",
    ".G2",
    "getCall",
    "getDescription",
    "get.lcgseed",
    "getModel",
    "getSlot",
    "getTitle",
    "ghFit",
    "ghMode",
    "ghSlider",
    ".green2redPalette",
    "greyPalette",
    "gridVector",
    "heatPalette",
    "Heaviside",
    ".heavisideSlider",
    ".hex.to.dec",
    "hgrid",
    "hilbert",
    "histPlot",
    ".histStack",
    ".hyp1Mode",
    ".hyp2Mode",
    ".hyp3Mode",
    ".hyp4Mode",
    ".hyperb.change.pars",
    "hypFit",
    "hypMode",
    "hypSlider",
    ".integrateStable",
    "interactivePlot",
    ".interp.new",
    ".interp.old",
    ".interpp.new",
    ".interpp.old",
    "inv",
    ".is.positive.definite",
    "isPositiveDefinite",
    "jarqueberaTest",
    ".jbALM",
    ".jbLM",
    ".jbPlot",
    ".jbTable",
    ".jb.test",
    "jbTest",
    "kendallTest",
    "krigeInterp",
    "kron",
    "ks2Test",
    "ksnormTest",
    ".kurtosis.test",
    ".kw2Test",
    "lacfPlot",
    "lillieTest",
    "linearInterp",
    "linearInterpp",
    "listDescription",
    "listFunctions",
    "listIndex",
    ".lmacfPlot",
    "locationTest",
    "logDensityPlot",
    ".logpdfPlot",
    ".make.positive.definite",
    "makePositiveDefinite",
    "maxddStats",
    ".maxddStats",
    ".mleStableFit",
    "monoPalette",
    ".moodTest",
    ".mrlPlot",
    "nFit",
    "nigFit",
    "nigShapeTriangle",
    "nigSlider",
    "norm",
    "normalTest",
    ".omnibus.test",
    "pacfPlot",
    ".pacfPlot",
    "pascal",
    "pchiTest",
    "pdl",
    "pearsonTest",
    ".perspPlot",
    "pgh",
    ".phiStable",
    "phyp",
    ".phyp1",
    ".phyp2",
    ".phyp3",
    ".phyp4",
    ".pjb",
    ".plot",
    ".plot.histogram",
    "pmaxdd",
    "pnig",
    ".predict",
    ".print",
    "print.control",
    "pstable",
    ".purple2greenPalette",
    "qgh",
    "qhyp",
    ".qhyp1",
    ".qhyp2",
    ".qhyp3",
    ".qhyp4",
    ".qjb",
    "qnig",
    ".qqgaussPlot",
    "qqnigPlot",
    "qqnormPlot",
    "qstable",
    ".qStableFit",
    "qualiPalette",
    "rainbowPalette",
    "Ramp",
    "rampPalette",
    ".residualsPlot",
    ".responsesPlot",
    "returnPlot",
    "returnSeriesGUI",
    "rgh",
    ".rghyp",
    ".rgigjd",
    ".rgigjd1",
    "rhyp",
    ".rhyp1",
    ".rhyp2",
    ".rhyp3",
    ".rhyp4",
    ".rhyperb",
    "rk",
    "rmaxdd",
    ".rmetricsPackages",
    ".rmetricsUnitTest",
    "rnig",
    "rnorm.lcg",
    "rowAvgs",
    "rowIds",
    "rowIds<-",
    "rowKurtosis",
    "rowMaxs",
    "rowMins",
    "rowProds",
    "rowQuantiles",
    "rowSds",
    "rowSkewness",
    "rowStats",
    "rowStdevs",
    "rowVars",
    "rowVec",
    "rstable",
    "rt.lcg",
    "runif.lcg",
    ".runitTest",
    "scaleTest",
    "scalinglawPlot",
    "seqPalette",
    "seriesPlot",
    "set.lcgseed",
    "sfTest",
    ".shapiro.test",
    "shapiroTest",
    "Sign",
    ".skewness.test",
    ".sliderMenu",
    "spearmanTest",
    "stableFit",
    "stableMode",
    "stableSlider",
    "stdev",
    ".stylizedFactsGUI",
    ".subPlot",
    ".subStars",
    ".summary",
    "symbolTable",
    ".tdSliderMenu",
    "teffectPlot",
    "termPlot",
    "terrainPalette",
    "tFit",
    "timPalette",
    "topoPalette",
    "tr",
    "triang",
    "Triang",
    "tslag",
    ".tslag1",
    ".tTest",
    ".unirootNA",
    ".varfTest",
    "varianceTest",
    "vec",
    "vech",
    "vgrid",
    "volatility",
    ".xrug",
    ".yrug" )
