
################################################
## import name space
################################################

import("MASS")
import("methods")
import("timeDate")
import("timeSeries")

################################################
## useDynLib
################################################

useDynLib("fBasics")

################################################
## S4 classes
################################################

exportClasses("fDISTFIT",
              "fHTEST" )
exportMethods("show" )

################################################
## S3 classes
################################################

S3method("stdev", "default")
S3method("termPlot", "default")
S3method("volatility", "default")

################################################
## functions
################################################

export(
    "gldFit",
    ".gldFit.mle",   
    ".gldFit.mps",   
    ".gldFit.gof", 
    ".gldFit.hist", 
    ".gldFit.rob", 
    ".ksGLD",          
    ".cvmGLD",        
    ".adGLD",        
    "dgld", 
    "pgld", 
    "qgld", 
    "rgld",
    ".dglD",             
    ".pglD",             
    ".qglD",             
    ".qgl.fmkl",        
    ".qgl.fm5",      
    ".qgl.rs",          
    ".qdglD",           
    ".qdgl.rs",        
    ".qdgl.fmkl",       
    ".qdgl.fm5",        
    ".rglD",             
    ".gl.parameter.tidy",
    ".gl.check.lambda", 
    
    "ssdFit",
    "dssd",
    "pssd",
    "qssd",
    "rssd",
    
    ".ssden",      
    ".dssden",
    ".pssden",
    ".qssden",
    
    ".gauss.quad",
    ".smolyak.quad",
    ".smolyak.size",
    ".sspdsty",
    ".mspdsty",
    ".nlm0",
    ".mkrk.tp",
    ".mkphi.tp",
    ".mkrk.tp.p",
    ".mkphi.tp.p",
    ".mkrk.sphere",
    ".mkterm",
    ".mkrk.nominal",
    ".mkrk.ordinal",
    ".mkrk.cubic",
    ".mkphi.cubic",
    ".mkrk.cubic.per",
    ".mkrk.linear",
    ".mkrk.linear.per",
     
    "sampleLmoments",
    
    "nigMED", 
    "nigIQR", 
    "nigSKEW",
    "nigKURT",
    
    "gldMED", 
    "gldIQR", 
    "gldSKEW",
    "gldKURT",
    
    "sampleMED",     
    "sampleIQR",  
    "sampleSKEW", 
    "sampleKURT", 
    
    "acfPlot",
    ".acfPlot",
    "adTest",
    "akimaInterp",
    "akimaInterpp",
    ".ansari2Test",
    ".ansariTest",
    ".aRecursionGH",
    ".asRGB",
    ".bartlett2Test",
    "basicStats",
    ".besselZ",
    ".blue2greenPalette",
    ".blue2redPalette",
    ".blue2yellowPalette",
    "box_",
    "Boxcar",
    "boxL",
    "boxPercentilePlot",
    "boxPlot",
    ".bwAndrews2",
    ".bwNeweyWest2",
    ".ccfPlot",
    "characterTable",
    ".chcode",
    ".checkGHMuMoments",
    ".checkGHRawMoments",
    ".circlesPlot",
    "cmPalette",
    ".cnvrt.coords",
    "colIds",
    "colIds<-",
    "colorLocator",
    "colorMatrix",
    "colorTable",
    "colVec",
    ".contourPlot",
    "copyright",
    "correlationTest",
    "countFunctions",
    ".counts1Plot",
    ".counts2Plot",
    "cumulatedPlot",
    "cvmTest",
    ".cyan2magentaPalette",
    "dagoTest",
    "decor",
    ".dec.to.hex",
    "Delta",
    ".deltaKappaGH",
    "densityPlot",
    "dgh",
    "dght",
    "dhyp",
    ".dhyp1",
    ".dhyp2",
    ".dhyp3",
    ".dhyp4",
    "distCheck",
    ".distCheck",
    "divPalette",
    "dmaxdd",
    "dnig",
    "drawdownPlot",
    "dsgh",
    "dsnig",
    "dstable",
    ".emptyPlot",
    ".fct1",
    ".FCT1",
    ".fct2",
    ".FCT2",
    ".firePlot",
    ".fligner2Test",
    "focusPalette",
    ".g1",
    ".G1",
    ".g2",
    ".G2",
    ".gel",
    "getCall",
    ".get_dat",
    "getDescription",
    ".get_lamb",
    "get.lcgseed",
    "getModel",
    "getSlot",
    "getTitle",
    "ghFit",
    "ghMode",
    
    "ghMean",
    "ghVar",
    "ghSkew",
    "ghKurt",
    "ghMoments",
    
    "hypMean",
    "hypVar",
    "hypSkew",
    "hypKurt",
    "hypMoments",
    
    "ghtMean",
    "ghtVar",
    "ghtSkew",
    "ghtKurt",
    "ghtMoments",

    ".ghMuMoments",
    ".ghMuMomentsIntegrated",
    ".ghRawMoments",
    ".ghRawMomentsIntegrated",
    ".ghCentralMoments",
    
    ".distStandardErrors",
    ".distFitPlot",
    
    "ghSlider",
    "ghtFit",
    "ghtMode",
    ".gmm",
    ".green2redPalette",
    "greyPalette",
    "gridVector",
    ".HAC",
    "heatPalette",
    "Heaviside",
    ".heavisideSlider",
    ".hex.to.dec",
    "hgrid",
    "hilbert",
    "histPlot",
    ".histStack",
    ".hyp1Mode",
    ".hyp2Mode",
    ".hyp3Mode",
    ".hyp4Mode",
    ".hyperb.change.pars",
    "hypFit",
    "hypMode",
    "hypSlider",
    ".integrateStable",
    "interactivePlot",
    ".interp.new",
    ".interp.old",
    ".interpp.new",
    ".interpp.old",
    "inv",
    ".is.positive.definite",
    "isPositiveDefinite",
    "jarqueberaTest",
    ".jbALM",
    ".jbLM",
    ".jbPlot",
    ".jbTable",
    ".jb.test",
    "jbTest",
    ".kappaGH",
    "kendallTest",
    "krigeInterp",
    "kron",
    "ks2Test",
    "ksnormTest",
    ".kurtosis.test",
    ".kw2Test",
    ".kweights",
    "lacfPlot",
    "lillieTest",
    "linearInterp",
    "linearInterpp",
    ".lintest",
    "listDescription",
    "listFunctions",
    "listIndex",
    ".lmacfPlot",
    "locationTest",
    "logDensityPlot",
    ".logpdfPlot",
    ".make.positive.definite",
    "makePositiveDefinite",
    "maxddStats",
    ".maxddStats",
    ".mleStableFit",
    "monoPalette",
    ".moodTest",
    ".mrlPlot",
    
    "nFit",
    ".normFit",
    
    "nigFit",
    ".nigFit.gmm",
    ".nigFit.mle",
    ".nigFit.mps",
    ".nigFit.vmps",
    
    "nigMean",
    "nigVar",
    "nigSkew",
    "nigKurt",
    "nigMoments",
    
    "nigMode",
    "nigShapeTriangle",
    "nigSlider",
    
    "norm",
    "normalTest",
    ".omnibus.test",
    "pacfPlot",
    ".pacfPlot",
    ".paramGH",
    "pascal",
    "pchiTest",
    "pdl",
    "pearsonTest",
    ".perspPlot",
    "pgh",
    "pght",
    ".phiStable",
    "phyp",
    ".phyp1",
    ".phyp2",
    ".phyp3",
    ".phyp4",
    ".pjb",
    ".plot",
    ".plot.histogram",
    "pmaxdd",
    "pnig",
    ".pnigC",
    ".predict",
    ".print",
    "print.control",
    "psgh",
    "psnig",
    ".psnigC",
    "pstable",
    ".purple2greenPalette",
    "qgh",
    "qght",
    "qhyp",
    ".qhyp1",
    ".qhyp2",
    ".qhyp3",
    ".qhyp4",
    ".qjb",
    "qnig",
    ".qnigC",
    ".qqgaussPlot",
    "qqghtPlot",
    "qqnigPlot",
    "qqnormPlot",
    "qsgh",
    "qsnig",
    ".qsnigC",
    "qstable",
    ".qStableFit",
    "qualiPalette",
    "rainbowPalette",
    "Ramp",
    "rampPalette",
    ".recessionLines",
    ".residualsPlot",
    ".responsesPlot",
    "returnPlot",
    "returnSeriesGUI",
    "rgh",
    "rght",
    ".rghyp",
    ".rgigjd",
    ".rgigjd1",
    ".rho",
    "rhyp",
    ".rhyp1",
    ".rhyp2",
    ".rhyp3",
    ".rhyp4",
    ".rhyperb",
    "rk",
    "rmaxdd",
    ".rmetricsPackages",
    ".rmetricsUnitTest",
    "rnig",
    "rnorm.lcg",
    "rowAvgs",
    "rowIds",
    "rowIds<-",
    "rowKurtosis",
    "rowMaxs",
    "rowMins",
    "rowProds",
    "rowQuantiles",
    "rowSds",
    "rowSkewness",
    "rowStats",
    "rowStdevs",
    "rowVars",
    "rowVec",
    "rsgh",
    "rsnig",
    "rstable",
    "rt.lcg",
    "runif.lcg",
    ".runitTest",
    "scaleTest",
    "scalinglawPlot",
    "seqPalette",
    "seriesPlot",
    "set.lcgseed",
    "sfTest",
    "sghFit",
    ".shapiro.test",
    "shapiroTest",
    "Sign",
    ".skewness.test",
    ".sliderMenu",
    ".smooth_g",
    "snigFit",
    "spearmanTest",
    "stableFit",
    "stableMode",
    ".stablePlot",
    "stableSlider",
    "stdev",
    ".stylizedFactsGUI",
    ".subPlot",
    ".subStars",
    ".summary",
    ".summary.gel",
    ".summary.gmm",
    "symbolTable",
    ".tdSliderMenu",
    "teffectPlot",
    "termPlot",
    "terrainPalette",
    "tFit",
    "timPalette",
    "topoPalette",
    "tr",
    "triang",
    "Triang",
    "tslag",
    ".tslag1",
    ".tTest",
    ".unirootNA",
    ".varfTest",
    "varianceTest",
    ".varpieDemo",
    ".varpiePlot",
    "vec",
    "vech",
    "vgrid",
    "volatility",
    ".weightsAndrews2",
    ".xrug",
    ".yrug" )
